{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "semi": true,
  "trailingComma": "none",
  "htmlWhitespaceSensitivity": "strict",
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "requirePragma": false,
  "proseWrap": "preserve",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto"
}
