*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ins,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
article,
aside,
canvas,
footer,
header,
main,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
img,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}
menu,
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
  outline: none;
}
input {
  all: unset;
  box-sizing: border-box;
}
body {
  line-height: 1;
  font-family: "se";
}
